<%= content_tag :h2, t(:rating, :name => @review.product.name), :class => 'new-review-title' %>

<%= form_for @review, :url => product_reviews_path do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button t(:send_review), 'icon-ok' %>
    </div>
  </fieldset>
<% end %>